/* Shared */


@font-face{
  font-family: "ScalaSans";
  src: url(./Assets/Fonts/ScalaSans/ScalaSans.otf);
}

@font-face{
  font-family: "ScalaSans-Regular";
  src: url(./Assets/Fonts/ScalaSans/ScalaSans-Regular.otf);
}

@font-face{
  font-family: "ScalaSans-Bold";
  src: url(./Assets/Fonts/ScalaSans/ScalaSans-Bold.otf);
}

@font-face{
  font-family: "ScalaSans-Italic";
  src: url(./Assets/Fonts/ScalaSans/ScalaSans-Italic.otf);
}

@font-face{
  font-family: "Gotham-Medium";
  src: url(./Assets/Fonts/Gotham/Gotham-Medium.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.ui-app{
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Quiz Component */
.answerOptions {
  height: 400px;
  margin: 0 40px 0px 40px;
  padding: 0;
  list-style: none;
  font-family: "ScalaSans-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
}

/* AnswerOption Component */
.answerOption {
  border-bottom: 1px solid #fff;
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100px; */
}



.answerOption.active {
  background-color: rgba(255,255,255, 0.9);
  color:#2E2E2E;
}

.answerOption:hover {
  background-color: rgba(255,255,255, 0.9);
  color:#2E2E2E;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}



.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 34px 28px 30px 111px;
    line-height: 1;
}


.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 28px;
    left: 38px;
    width: 44px;
    height: 44px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 50%;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: url(./Assets/icon-selected.png) no-repeat;
    background-size: 55px;
    background-position: center;
    border: 3px solid white;

}

.answerOption .radioCustomLabel{

}

.languageOption .radioCustomLabel{
  font-size: 40px;
  font-family: "ScalaSans-Bold", sans-serif;
  line-height: 1;
  padding: 32px 28px 32px 111px;
  text-transform: capitalize;
}
.answerOption.option-size-2{
  font-size: 22px;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}



#teleprompter{
  position: absolute;
  width: 800px;
  height: 600px;
  top:0px;
  left:0px;
  color: white;
  background-image: url('./Assets/bkgr-fade.png');
  background-position:center;
  background-size: cover;
}

.tele-center{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#teleprompter .tele-center h1{
  margin: 0px;
  display: block;
}

#touchscreen{
  background-color: #002843;
  color: white;
  position:absolute;
  top:0px;
  left:800px;
  width: 800px;
  height: 600px;
  z-index: -10;
}

.next-button-small{
  color: white;
  width:164px;
  height: 164px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-cont-sm.png) no-repeat;
  border: none;
}

.next-button-small h4{
  font-family: "ScalaSans", sans-serif;
  font-size:36px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.flipped{
  transform: rotate(180deg);
}


.next-button-small-inactive{
  color: white;
  width:164px;
  height: 164px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-cont-sm.png) no-repeat;
  border: none;
  opacity: 0.5;
}

.next-button-small-inactive h4{
  font-family: "ScalaSans", sans-serif;
  font-size:36px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.back-button-small{
  color: white;
  width:164px;
  height: 164px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-back-sm.png) no-repeat;
  border: none;
}


.back-button-small h4{
  font-family: "ScalaSans", sans-serif;
  font-size:36px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.disagree-button-small{
  color: white;
  width:164px;
  height: 164px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-delete-sm.png) no-repeat;
  border: none;
}


.disagree-button-small h4{
  font-family: "ScalaSans", sans-serif;
  font-size:36px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.agree-button-small{
  color: white;
  width:164px;
  height: 164px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-cont-sm.png) no-repeat;
  border: none;
}

.agree-button-small h4{
  font-family: "ScalaSans", sans-serif;
  font-size:36px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.next-button{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-cont.png) no-repeat;
  border: none;
}


.next-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}

.delete-button{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-delete.png) no-repeat;
  border: none;
}


.delete-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}

.save-button{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-save.png) no-repeat;
  border: none;
}


.save-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}

.back-button{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-back.png) no-repeat;
  border: none;
}


.back-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}

.record-again{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-record-another.png) no-repeat;
  border: none;
}


.record-again h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}

.language-button{
  color: white;
  width:388px;
  height: 290px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-language.png) no-repeat;
  border: none;
}


.language-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.language-button-inactive{
  opacity: 0.5;
  color: white;
  width:388px;
  height: 290px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-language.png) no-repeat;
  border: none;
}


.language-button-inactive h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.record-button{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-record.png) no-repeat;
  border: none;
}


.record-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}

.record-stop{
  color: white;
  width:800px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/icon-stop.png) no-repeat;
  background-position: 50% 300px;
  border: none;
}


.record-stop h4{
  width: 430px;
  font-family: "ScalaSans-Bold", sans-serif;
  font-size:52px;
  line-height:1.2;
  margin: auto;
  position: relative;
  text-align: center;
  top: -102px;
}

.eyes-free-on{
  color: #2E2E2E;
  width:388px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  background: #002843 url(./Assets/btn-eyes-free-on.png) no-repeat;
  border: none;
}

.eyes-free-off .toggle{
  position: absolute;
  top: 157px;
left: 117px;
width: 100px;
height: 100px;
  transition: left 300ms ease-out;
  background: url(./Assets/icon-eyes-free.png) no-repeat;
}

.eyes-free-on .toggle{
  position: absolute;
  top: 157px;
left: 185px;
width: 100px;
height: 100px;
  transition: left 300ms ease-in;
  background: url(./Assets/icon-eyes-free.png) no-repeat;
}

.eyes-free-on h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.eyes-free-off{
  color: white;
  width:388px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  background: #002843 url(./Assets/btn-eyes-free-off.png) no-repeat;
  border: none;
}


.eyes-free-off h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}

.languageOption{
  max-width: 50%;
float: left;
min-width: 46.5%;
margin-right: 25px;
}

.timer-progress{
  width: 250px;
  height: 250px;
}

#teleprompter .content{
  margin: auto;
  width: 584px;
}

#teleprompter h1{
  font-family: "ScalaSans", sans-serif;
font-size: 52px;
margin: auto;
position: relative;
text-align: center;
margin-top: 50px;
}

#teleprompter p{
  font-family: "ScalaSans-Regular", sans-serif;
font-size: 36px;
margin: auto;
position: relative;
text-align: left;
margin-top: 50px;
}

.attract{
  text-align: center;
  padding-top: 200px;
}

.attract h3{
font-family: "Gotham-Medium", sans-serif;
font-size: 28px;
letter-spacing: 4px;
position: absolute;
background-color:#002843;
left: 206px;
top: 141px;
padding-left: 30px;
padding-right: 30px;
}

.attract h1 span{
font-family: "Gotham-Medium", sans-serif;
font-size: 52px;
padding: 40px 0px 30px 0px;
letter-spacing: 6px;
border-bottom: solid white 3px;
border-top: solid white 3px;
}

.attract h4{
margin-top: 80px;
font-family: "ScalaSans-Regular", sans-serif;
font-size: 36px;
letter-spacing: 2px;
}

.agreement-scroll {
 position: relative;
 width: 720px;
 height: 250px;
 margin: auto;
 overflow-y:scroll;
 margin-top: 30px;
}

.agreement-scroll::-webkit-scrollbar {
    width: 20px;

}

.agreement-scroll::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius:15px;
    border: 2px solid transparent;
    background-clip: content-box;;
}

.agreement-scroll::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.8);
}

.agreement-scroll p{
  font-family: "ScalaSans-Regular", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.2;

}

.user-agreement h3{
  font-family: "ScalaSans-Regular", sans-serif;
  font-size: 40px;
  margin: 0px 40px 0px 40px;
  padding: 30px 0px 30px 0px;
  border-bottom: 1px solid white;
}

.user-agreement{

}

h1, h2, h3, h4, p {
  -webkit-font-smoothing: antialiased;
}


.CircularProgressbar{
 overflow:visible;
}

.CircularProgressbar .CircularProgressbar-text{
  fill: #111111;
  font-family: "Gotham-Medium", sans-serif;
  font-size: 26px;
}

.CircularProgressbar .CircularProgressbar-path{
stroke-linecap: butt;
stroke: #A3CBE6;

}

.CircularProgressbar .CircularProgressbar-trail{
stroke: transparent;

}

.CircularProgressbar .CircularProgressbar-background{
  fill: white;
}

.CircularProgressbar-path{
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
          filter: drop-shadow( -5px -5px 5px #000 );
}

.timer h1{
  font-family: "ScalaSans", sans-serif;
font-size: 52px;
margin: auto;
position: relative;
text-align: center;
margin-top: 50px;
}

.timer-progress{
  margin: auto;
margin-top: 70px;
}

.ui-keyboard-input, .suggestion{
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  width: 720px;
  font-family: "ScalaSans-Regular", sans-serif;
  font-size: 36px;
  color: white;
  background-color: transparent;
  border: none;
  margin: 0px 40px 30px 40px;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid white;
}

.suggestion{
  font-family: "ScalaSans-Italic", sans-serif;
  opacity: 0.5;
  position: absolute;
  z-index:-2;
}

.suggestion-normal{
  font-family: "ScalaSans", sans-serif;
  opacity: 0.5;
  position: absolute;
  z-index:-2;
}

.keyboard-wrapper{
  z-index:-2;
}

h3.prompt{
  position: absolute;
  bottom: 0px;
  font-family: "ScalaSans", sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 25px;
}

.ui-keyboard{
  background: none;
  border: none;
  z-index:0;
}

.ui-keyboard span {
  font-family:"ScalaSans-Regular", sans-serif;
  font-size: 20px;
  color: white;
}
.ui-keyboard-button {
  height: 69px;
    width: 56px;
    margin: 5px;
  cursor: pointer;
  background: #003F69;
  border: none;
  border-radius: 0px;
}

.ui-keyboard-button.ui-state-hover {
  color: black;
}

.home-button{
  color: white;
  width:388px;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002843 url(./Assets/btn-home.png) no-repeat;
  border: none;
}


.home-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:52px;
  margin: auto;
position: relative;
text-align: center;
top: -80px;
}




  .progressbar{
      counter-reset: step;
      display: flex;
      justify-content: space-between;
      width: 800px;
      padding: 0px 25px 0px;
      color: white;
      font-family: "ScalaSans-Bold", sans-serif;
      font-size:21px;
      position: absolute;
      bottom: 0px;
      margin: 0px;
  }
  .progressbar li {
      list-style-type: none;
      height: 100px;
      width: 90px;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: white;
  }

  .progressbar svg {
      width: 25px;
      height: 25px;
      position: absolute;
bottom: 29px;
left: 33px;
  }

  .progressbar li:after {
      width:110px;
      height: 2px;
      content: '';
      position: absolute;
      background-color: white;
      top: 58px;
      right: -93px;
  }
  .progressbar li:last-child:after {
      content: none;
  }
  .progressbar li.active {
      color: white;
      opacity: 1;
  }

  .progressbar li.active:after {
      background-color: white;
  }

  .fade {
    opacity: 0.01;
  }

  .fade-exit {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
  }

  .fade-enter {
    opacity: 1;
    transition: opacity 800ms ease-out;
  }

li.white-line{
  color: rgba(255, 255, 255, 1);
}

li.blue-line{
  color: rgba(33, 177, 231, 1);
}

li.blue-line{
  color: rgba(33, 177, 231, 1);
}

li.blue-line h3{
display: none;

}

li.light-line{
  color: rgba(255, 255, 255, 0.5);
}

li.white-line:after{
  background-color: rgba(255, 255, 255, 1);
}
li.blue-line:after{
  background-color: rgba(33, 177, 231, 1);
}
li.light-line:after{
  background-color: rgba(255, 255, 255, 0.5);
}
.mirrored{

  transform: scale(-1, 1);
}
