/* Shared */


@font-face{
  font-family: "ScalaSans";
  src: url(./Assets/Fonts/ScalaSans/ScalaSans.otf);
}

@font-face{
  font-family: "ScalaSans-Regular";
  src: url(./Assets/Fonts/ScalaSans/ScalaSans-Regular.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0 40px 0px 40px;
  padding: 0;
  list-style: none;
  font-family: "ScalaSans-Regular", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-bottom: 1px solid #fff;
  text-align:left;
}

.answerOption:hover {
  background-color: rgba(255,255,255, 0.9);
  color:#2E2E2E;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;

    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}



#teleprompter{
  width: 800px;
  height: 600px;
  float: left;
  color: white;

  background: rgba(0,63,105,1);
background: -moz-linear-gradient(top, rgba(0,63,105,1) 0%, rgba(0,63,105,1) 77%, rgba(163,203,230,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,63,105,1)), color-stop(77%, rgba(0,63,105,1)), color-stop(100%, rgba(163,203,230,1)));
background: -webkit-linear-gradient(top, rgba(0,63,105,1) 0%, rgba(0,63,105,1) 77%, rgba(163,203,230,1) 100%);
background: -o-linear-gradient(top, rgba(0,63,105,1) 0%, rgba(0,63,105,1) 77%, rgba(163,203,230,1) 100%);
background: -ms-linear-gradient(top, rgba(0,63,105,1) 0%, rgba(0,63,105,1) 77%, rgba(163,203,230,1) 100%);
background: linear-gradient(to bottom, rgba(0,63,105,1) 0%, rgba(0,63,105,1) 77%, rgba(163,203,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f69', endColorstr='#a3cbe6', GradientType=0 );
}

#touchscreen{
  background-color: #002843;
  color: white;
  width: 800px;
  height: 600px;
  float: left;
  position: relative;
}

.next-button{
  color: white;
  width:164px;
  height: 164px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #002843 url(./Assets/btn-cont-sm.png) no-repeat;
  border: none;
}


.next-button h4{
  font-family: "ScalaSans", sans-serif;
  font-size:36px;
  margin: auto;
position: relative;
text-align: center;
top: -40px;
}
